body{
    background-color: ghostwhite;
}

/*#content{
    background-color: hotpink;
    width:400px;
    padding: 20px;
    padding-top: 0;
    color: #141414;
    margin: auto;
    justify-content: center;
    font-size: 30px;
    max-height: 100px;
    overflow: hidden;
}

#show-more{
    display: block;
    background-color: blueviolet;
    width:200px;
    text-align: center;
    margin: 20px auto;
    height:50px;
    font-size:30px;
    padding: 10px;
    cursor: pointer;
}

#content.open{
max-height:1000px;
transition:max-height 2s;
}*/

/*Below is for Colour changing circel*/
#main{
font-weight: bold;
font-size: 2em;
height:12em;
width:10em;
}

#wrapper{
    margin:0 auto;
    height:12em;
    width:10em;
}

#circle{
background-color: #1efe1e;
height: 200px;
width: 200px;
border-radius: 100%;
margin-top: 20px;
}