body{
    background-color: ghostwhite;
}

#content{
    background-color: hotpink;
    width:400px;
    padding: 20px;
    padding-top: 0;
    color: #141414;
    margin: auto;
    justify-content: center;
    font-size: 30px;
    max-height: 100px;
    overflow: hidden;
}

#show-more{
    display: block;
    background-color: blueviolet;
    width:200px;
    text-align: center;
    margin: 20px auto;
    height:50px;
    font-size:30px;
    padding: 10px;
    cursor: pointer;
}

#content.open{
max-height:1000px;
transition:max-height 2s;
}